.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.854004;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.854004;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.016113;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.090332;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.151367;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.151367;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls7{letter-spacing:-0.648000px;}
.lsd{letter-spacing:-0.516000px;}
.ls6{letter-spacing:-0.504000px;}
.lsa{letter-spacing:-0.252000px;}
.ls1{letter-spacing:-0.211600px;}
.ls2{letter-spacing:-0.130400px;}
.lsb{letter-spacing:-0.120000px;}
.ls8{letter-spacing:-0.108000px;}
.ls3{letter-spacing:-0.024000px;}
.ls0{letter-spacing:0.000000px;}
.lsc{letter-spacing:0.156000px;}
.ls5{letter-spacing:0.216000px;}
.ls4{letter-spacing:0.228000px;}
.ls9{letter-spacing:0.444000px;}
.sc_{text-shadow:none;}
.sc4{text-shadow:-0.015em 0 rgb(191,78,20),0 0.015em rgb(191,78,20),0.015em 0 rgb(191,78,20),0 -0.015em  rgb(191,78,20);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc6{text-shadow:-0.015em 0 rgb(233,113,50),0 0.015em rgb(233,113,50),0.015em 0 rgb(233,113,50),0 -0.015em  rgb(233,113,50);}
.sc5{text-shadow:-0.015em 0 rgb(255,192,0),0 0.015em rgb(255,192,0),0.015em 0 rgb(255,192,0),0 -0.015em  rgb(255,192,0);}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc2{text-shadow:-0.015em 0 rgb(160,43,147),0 0.015em rgb(160,43,147),0.015em 0 rgb(160,43,147),0 -0.015em  rgb(160,43,147);}
.sc3{text-shadow:-0.015em 0 rgb(78,167,46),0 0.015em rgb(78,167,46),0.015em 0 rgb(78,167,46),0 -0.015em  rgb(78,167,46);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc4{-webkit-text-stroke:0.015em rgb(191,78,20);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc6{-webkit-text-stroke:0.015em rgb(233,113,50);text-shadow:none;}
.sc5{-webkit-text-stroke:0.015em rgb(255,192,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(160,43,147);text-shadow:none;}
.sc3{-webkit-text-stroke:0.015em rgb(78,167,46);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-8.984160px;}
._2{margin-left:-3.523200px;}
._5{margin-left:-2.112000px;}
._0{margin-left:-1.056960px;}
._4{width:1.235040px;}
._3{width:233.731520px;}
.fc4{color:rgb(191,78,20);}
.fc2{color:rgb(78,167,46);}
.fc5{color:rgb(255,192,0);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(160,43,147);}
.fc3{color:rgb(233,113,50);}
.fs2{font-size:32.160000px;}
.fs5{font-size:36.000000px;}
.fs4{font-size:39.840000px;}
.fs1{font-size:44.160000px;}
.fs3{font-size:48.000000px;}
.fs6{font-size:56.160000px;}
.fs0{font-size:176.160000px;}
.y1{bottom:0.000000px;}
.y9{bottom:38.400000px;}
.y8{bottom:51.864000px;}
.y0{bottom:60.500000px;}
.y7{bottom:64.464000px;}
.y6{bottom:74.304000px;}
.y5{bottom:84.024000px;}
.y4{bottom:93.744000px;}
.y70{bottom:106.340000px;}
.y6f{bottom:115.460000px;}
.y3e{bottom:116.420000px;}
.y3d{bottom:127.340000px;}
.y3c{bottom:138.260000px;}
.y3b{bottom:149.660000px;}
.y3a{bottom:160.580000px;}
.y39{bottom:171.980000px;}
.y38{bottom:183.380000px;}
.y6e{bottom:188.780000px;}
.y37{bottom:194.300000px;}
.y6d{bottom:200.180000px;}
.y36{bottom:205.700000px;}
.y6c{bottom:211.580000px;}
.y35{bottom:217.220000px;}
.y6b{bottom:222.980000px;}
.y34{bottom:228.650000px;}
.y6a{bottom:234.410000px;}
.y33{bottom:239.570000px;}
.y69{bottom:245.810000px;}
.y32{bottom:250.970000px;}
.y68{bottom:257.330000px;}
.y31{bottom:262.370000px;}
.y67{bottom:268.730000px;}
.y30{bottom:273.290000px;}
.y66{bottom:280.970000px;}
.y2f{bottom:284.690000px;}
.y65{bottom:294.890000px;}
.y2e{bottom:296.090000px;}
.y64{bottom:306.650000px;}
.y2d{bottom:307.010000px;}
.y2c{bottom:318.410000px;}
.y63{bottom:318.530000px;}
.y2b{bottom:329.810000px;}
.y62{bottom:330.290000px;}
.y2a{bottom:340.730000px;}
.y61{bottom:342.170000px;}
.y29{bottom:352.250000px;}
.y60{bottom:353.930000px;}
.y28{bottom:364.490000px;}
.y5f{bottom:365.330000px;}
.y27{bottom:375.890000px;}
.y5e{bottom:377.090000px;}
.y26{bottom:387.290000px;}
.y5d{bottom:388.970000px;}
.y25{bottom:398.210000px;}
.y5c{bottom:400.730000px;}
.y24{bottom:409.150000px;}
.y5b{bottom:412.630000px;}
.y23{bottom:420.070000px;}
.y5a{bottom:424.510000px;}
.y22{bottom:430.990000px;}
.y59{bottom:435.790000px;}
.y21{bottom:441.910000px;}
.y58{bottom:447.550000px;}
.y20{bottom:452.830000px;}
.y57{bottom:459.070000px;}
.y1f{bottom:463.750000px;}
.y56{bottom:470.470000px;}
.y1e{bottom:474.670000px;}
.y55{bottom:481.870000px;}
.y1d{bottom:487.270000px;}
.y54{bottom:493.270000px;}
.y53{bottom:504.190000px;}
.y1c{bottom:504.790000px;}
.y52{bottom:515.590000px;}
.y1b{bottom:517.990000px;}
.y51{bottom:526.990000px;}
.y1a{bottom:529.750000px;}
.y50{bottom:537.910000px;}
.y19{bottom:542.110000px;}
.y4f{bottom:549.310000px;}
.y18{bottom:554.350000px;}
.y4e{bottom:560.710000px;}
.y17{bottom:566.110000px;}
.y4d{bottom:572.230000px;}
.y16{bottom:578.350000px;}
.y4c{bottom:583.660000px;}
.y15{bottom:590.740000px;}
.y4b{bottom:595.060000px;}
.y14{bottom:602.980000px;}
.y4a{bottom:606.460000px;}
.y13{bottom:614.740000px;}
.y49{bottom:617.380000px;}
.y12{bottom:627.100000px;}
.y48{bottom:628.780000px;}
.y11{bottom:639.340000px;}
.y47{bottom:640.180000px;}
.y10{bottom:651.100000px;}
.y46{bottom:651.580000px;}
.y45{bottom:662.500000px;}
.yf{bottom:663.340000px;}
.y44{bottom:673.900000px;}
.ye{bottom:675.700000px;}
.y43{bottom:685.420000px;}
.yd{bottom:687.460000px;}
.y42{bottom:696.820000px;}
.yc{bottom:699.700000px;}
.y41{bottom:708.220000px;}
.yb{bottom:712.420000px;}
.y40{bottom:719.140000px;}
.ya{bottom:726.700000px;}
.y3f{bottom:730.060000px;}
.y3{bottom:741.820000px;}
.y2{bottom:764.520000px;}
.h4{height:27.182109px;}
.h5{height:27.873047px;}
.h8{height:32.695312px;}
.h7{height:36.182813px;}
.h3{height:37.324687px;}
.ha{height:40.106250px;}
.h6{height:43.593750px;}
.h9{height:51.004687px;}
.h2{height:148.893047px;}
.h1{height:746.500000px;}
.h0{height:841.920000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x2{left:72.023991px;}
.x11{left:74.663991px;}
.xb{left:76.583991px;}
.xd{left:78.143991px;}
.x13{left:79.583991px;}
.x2e{left:81.383991px;}
.x31{left:83.183991px;}
.x2f{left:85.943991px;}
.x23{left:87.023991px;}
.x30{left:91.343991px;}
.x21{left:95.183991px;}
.x2a{left:108.619991px;}
.x19{left:119.779991px;}
.x3{left:123.739991px;}
.x1{left:130.459991px;}
.x27{left:134.299991px;}
.x1a{left:141.259991px;}
.x20{left:147.019991px;}
.x26{left:150.619991px;}
.x29{left:156.019991px;}
.x1d{left:160.459991px;}
.x5{left:174.139991px;}
.x2b{left:176.179991px;}
.x38{left:184.219991px;}
.x6{left:187.369991px;}
.xf{left:190.849991px;}
.x12{left:196.249991px;}
.x14{left:204.769991px;}
.x33{left:216.049991px;}
.x1f{left:219.769991px;}
.x34{left:222.169991px;}
.x36{left:229.369991px;}
.x32{left:230.809991px;}
.x35{left:233.689991px;}
.xe{left:235.849991px;}
.x17{left:239.089991px;}
.x1c{left:240.649991px;}
.x25{left:245.929991px;}
.x2c{left:249.169991px;}
.x16{left:250.609991px;}
.x4{left:253.009991px;}
.x8{left:256.009991px;}
.x10{left:258.049991px;}
.x7{left:260.329991px;}
.x22{left:261.889991px;}
.xc{left:264.169991px;}
.xa{left:265.729991px;}
.x1e{left:267.649991px;}
.x18{left:269.689991px;}
.x1b{left:271.609991px;}
.x9{left:273.649991px;}
.x28{left:274.849991px;}
.x2d{left:278.569991px;}
.x24{left:283.609991px;}
.x15{left:297.649991px;}
.x37{left:343.389991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls7{letter-spacing:-0.864000pt;}
.lsd{letter-spacing:-0.688000pt;}
.ls6{letter-spacing:-0.672000pt;}
.lsa{letter-spacing:-0.336000pt;}
.ls1{letter-spacing:-0.282133pt;}
.ls2{letter-spacing:-0.173867pt;}
.lsb{letter-spacing:-0.160000pt;}
.ls8{letter-spacing:-0.144000pt;}
.ls3{letter-spacing:-0.032000pt;}
.ls0{letter-spacing:0.000000pt;}
.lsc{letter-spacing:0.208000pt;}
.ls5{letter-spacing:0.288000pt;}
.ls4{letter-spacing:0.304000pt;}
.ls9{letter-spacing:0.592000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-11.978880pt;}
._2{margin-left:-4.697600pt;}
._5{margin-left:-2.816000pt;}
._0{margin-left:-1.409280pt;}
._4{width:1.646720pt;}
._3{width:311.642027pt;}
.fs2{font-size:42.880000pt;}
.fs5{font-size:48.000000pt;}
.fs4{font-size:53.120000pt;}
.fs1{font-size:58.880000pt;}
.fs3{font-size:64.000000pt;}
.fs6{font-size:74.880000pt;}
.fs0{font-size:234.880000pt;}
.y1{bottom:0.000000pt;}
.y9{bottom:51.200000pt;}
.y8{bottom:69.152000pt;}
.y0{bottom:80.666667pt;}
.y7{bottom:85.952000pt;}
.y6{bottom:99.072000pt;}
.y5{bottom:112.032000pt;}
.y4{bottom:124.992000pt;}
.y70{bottom:141.786667pt;}
.y6f{bottom:153.946667pt;}
.y3e{bottom:155.226667pt;}
.y3d{bottom:169.786667pt;}
.y3c{bottom:184.346667pt;}
.y3b{bottom:199.546667pt;}
.y3a{bottom:214.106667pt;}
.y39{bottom:229.306667pt;}
.y38{bottom:244.506667pt;}
.y6e{bottom:251.706667pt;}
.y37{bottom:259.066667pt;}
.y6d{bottom:266.906667pt;}
.y36{bottom:274.266667pt;}
.y6c{bottom:282.106667pt;}
.y35{bottom:289.626667pt;}
.y6b{bottom:297.306667pt;}
.y34{bottom:304.866667pt;}
.y6a{bottom:312.546667pt;}
.y33{bottom:319.426667pt;}
.y69{bottom:327.746667pt;}
.y32{bottom:334.626667pt;}
.y68{bottom:343.106667pt;}
.y31{bottom:349.826667pt;}
.y67{bottom:358.306667pt;}
.y30{bottom:364.386667pt;}
.y66{bottom:374.626667pt;}
.y2f{bottom:379.586667pt;}
.y65{bottom:393.186667pt;}
.y2e{bottom:394.786667pt;}
.y64{bottom:408.866667pt;}
.y2d{bottom:409.346667pt;}
.y2c{bottom:424.546667pt;}
.y63{bottom:424.706667pt;}
.y2b{bottom:439.746667pt;}
.y62{bottom:440.386667pt;}
.y2a{bottom:454.306667pt;}
.y61{bottom:456.226667pt;}
.y29{bottom:469.666667pt;}
.y60{bottom:471.906667pt;}
.y28{bottom:485.986667pt;}
.y5f{bottom:487.106667pt;}
.y27{bottom:501.186667pt;}
.y5e{bottom:502.786667pt;}
.y26{bottom:516.386667pt;}
.y5d{bottom:518.626667pt;}
.y25{bottom:530.946667pt;}
.y5c{bottom:534.306667pt;}
.y24{bottom:545.533333pt;}
.y5b{bottom:550.173333pt;}
.y23{bottom:560.093333pt;}
.y5a{bottom:566.013333pt;}
.y22{bottom:574.653333pt;}
.y59{bottom:581.053333pt;}
.y21{bottom:589.213333pt;}
.y58{bottom:596.733333pt;}
.y20{bottom:603.773333pt;}
.y57{bottom:612.093333pt;}
.y1f{bottom:618.333333pt;}
.y56{bottom:627.293333pt;}
.y1e{bottom:632.893333pt;}
.y55{bottom:642.493333pt;}
.y1d{bottom:649.693333pt;}
.y54{bottom:657.693333pt;}
.y53{bottom:672.253333pt;}
.y1c{bottom:673.053333pt;}
.y52{bottom:687.453333pt;}
.y1b{bottom:690.653333pt;}
.y51{bottom:702.653333pt;}
.y1a{bottom:706.333333pt;}
.y50{bottom:717.213333pt;}
.y19{bottom:722.813333pt;}
.y4f{bottom:732.413333pt;}
.y18{bottom:739.133333pt;}
.y4e{bottom:747.613333pt;}
.y17{bottom:754.813333pt;}
.y4d{bottom:762.973333pt;}
.y16{bottom:771.133333pt;}
.y4c{bottom:778.213333pt;}
.y15{bottom:787.653333pt;}
.y4b{bottom:793.413333pt;}
.y14{bottom:803.973333pt;}
.y4a{bottom:808.613333pt;}
.y13{bottom:819.653333pt;}
.y49{bottom:823.173333pt;}
.y12{bottom:836.133333pt;}
.y48{bottom:838.373333pt;}
.y11{bottom:852.453333pt;}
.y47{bottom:853.573333pt;}
.y10{bottom:868.133333pt;}
.y46{bottom:868.773333pt;}
.y45{bottom:883.333333pt;}
.yf{bottom:884.453333pt;}
.y44{bottom:898.533333pt;}
.ye{bottom:900.933333pt;}
.y43{bottom:913.893333pt;}
.yd{bottom:916.613333pt;}
.y42{bottom:929.093333pt;}
.yc{bottom:932.933333pt;}
.y41{bottom:944.293333pt;}
.yb{bottom:949.893333pt;}
.y40{bottom:958.853333pt;}
.ya{bottom:968.933333pt;}
.y3f{bottom:973.413333pt;}
.y3{bottom:989.093333pt;}
.y2{bottom:1019.360000pt;}
.h4{height:36.242812pt;}
.h5{height:37.164062pt;}
.h8{height:43.593750pt;}
.h7{height:48.243750pt;}
.h3{height:49.766250pt;}
.ha{height:53.475000pt;}
.h6{height:58.125000pt;}
.h9{height:68.006250pt;}
.h2{height:198.524063pt;}
.h1{height:995.333333pt;}
.h0{height:1122.560000pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x2{left:96.031988pt;}
.x11{left:99.551988pt;}
.xb{left:102.111988pt;}
.xd{left:104.191988pt;}
.x13{left:106.111988pt;}
.x2e{left:108.511988pt;}
.x31{left:110.911988pt;}
.x2f{left:114.591988pt;}
.x23{left:116.031988pt;}
.x30{left:121.791988pt;}
.x21{left:126.911988pt;}
.x2a{left:144.826655pt;}
.x19{left:159.706655pt;}
.x3{left:164.986655pt;}
.x1{left:173.946655pt;}
.x27{left:179.066655pt;}
.x1a{left:188.346655pt;}
.x20{left:196.026655pt;}
.x26{left:200.826655pt;}
.x29{left:208.026655pt;}
.x1d{left:213.946655pt;}
.x5{left:232.186655pt;}
.x2b{left:234.906655pt;}
.x38{left:245.626655pt;}
.x6{left:249.826655pt;}
.xf{left:254.466655pt;}
.x12{left:261.666655pt;}
.x14{left:273.026655pt;}
.x33{left:288.066655pt;}
.x1f{left:293.026655pt;}
.x34{left:296.226655pt;}
.x36{left:305.826655pt;}
.x32{left:307.746655pt;}
.x35{left:311.586655pt;}
.xe{left:314.466655pt;}
.x17{left:318.786655pt;}
.x1c{left:320.866655pt;}
.x25{left:327.906655pt;}
.x2c{left:332.226655pt;}
.x16{left:334.146655pt;}
.x4{left:337.346655pt;}
.x8{left:341.346655pt;}
.x10{left:344.066655pt;}
.x7{left:347.106655pt;}
.x22{left:349.186655pt;}
.xc{left:352.226655pt;}
.xa{left:354.306655pt;}
.x1e{left:356.866655pt;}
.x18{left:359.586655pt;}
.x1b{left:362.146655pt;}
.x9{left:364.866655pt;}
.x28{left:366.466655pt;}
.x2d{left:371.426655pt;}
.x24{left:378.146655pt;}
.x15{left:396.866655pt;}
.x37{left:457.853322pt;}
}
